<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Himalayan Calling</title>
    <!-- <link rel="stylesheet" href="login.css"> -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!--favicon icon-->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="Images/main/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="Images/main/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="Images/main/favicon-16x16.png"
    />
    <link rel="manifest" href="Images/main/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <!-- NAVBAR CREATION -->
    <header class="header">
      <nav class="navbar">
        <a href="index.html">HOME</a>
        <a href="rentals.html">RENTALS</a>
        <a href="gallery.html">GALLERY</a>
        <a href="about.html">ABOUT</a>
        <a href="trip.html">TRIPS</a>
        <a href="contact.html">CONTACT</a>
        <a href="login.html">LOGIN/SNGUP</a>
      </nav>
      <form action="" class="search-bar">
        <input type="text" placeholder="Search..." />
        <button><i class="bx bx-search"></i></button>
      </form>
    </header>
    <!-- LOGIN FORM CREATION -->
    <div class="background"></div>
    <div class="container">
      <div class="item">
        <h2 class="logo"><i class="bx bxl-xing"></i>Himalayan Calling</h2>
        <div class="text-item">
          <h2>Welcome! <br /><span> To A Journey Beautiful </span></h2>
          <p>
            Not only do we provide Bike and Car service, we also take care of
            the equipment or the accessory needs required while hiking or
            camping or long trips.
          </p>
          <div class="social-icon">
            <a href="#"><i class="bx bxl-facebook"></i></a>
            <a href="#"><i class="bx bxl-twitter"></i></a>
            <a href="#"><i class="bx bxl-youtube"></i></a>
            <a href="#"><i class="bx bxl-instagram"></i></a>
            <a href="#"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>
      </div>
      <div class="login-section">
        <div class="form-box login">
          <form action="/login" method="post">
            <h2>Log In</h2>
            <div class="input-box">
              <span class="icon"><i class="bx bxs-envelope"></i></span>
              <input type="email" name="email" required />
              <label>Email</label>
            </div>
            <div class="input-box">
              <span class="icon"><i class="bx bxs-lock-alt"></i></span>
              <input type="password" name="password" required />
              <label>Password</label>
            </div>
            <div class="remember-password">
              <label for=""><input type="checkbox" />Remember Me</label>
              <a href="#">Forget Password</a>
            </div>
            <button class="btn">Login In</button>
            <div class="create-account">
              <p>
                Don't have an account? <a class="link" href="/signup">SignUp</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- SIGN UP FORM CREATION -->
  </body>
</html>
