/*-------------------------------------Gallery--------------------------------------*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.header3{
     
     width: 100%;
     background-image:url(Images/zero-take-P5jnUNXT_sg-unsplash.jpg);
     background-position: center;
     background-size: cover;
     text-align: center;
     color:#fff;
     background-attachment:scroll;
}
.header3 h1{

    margin-top: 100x;
    margin-left: 50px;
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background-image: url(Images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;

}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size: 50px;
}
h5{
  color: white;
}
p{
    color: #fff;
    font-size: 15px;
    line-height: 15px;
}
h5 a{
  text-decoration: none;
  color: white;
}
.card{
    width: 164px;
    height: 220px;
    display:inline-table;
    border-radius: 10px;
    padding: 10px 20px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 8px 34px;
    background-size: cover ;
    background-position: center;
    transition: transform 0.5s;
}
.card1{

    background-image: url(Images/amith-sreedhar-pUxnnZUC1pc-unsplash.jpg);
}
   
.card2{
    background-image: url(Images/hp-4.jpg);
   
}
.card3{

    background-image: url(Images/raj-3.jpg);
   
}
.card4{
    background-image: url(Images/hemanth-kumar-l-UPYxWjlRqxQ-unsplash.jpg);
   

}
.card:hover{
    transform: translateY(-10px);
}
input{
    display: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    text-align: center;
}
h6{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 50px 0;
}
h6::before{
    content: '';
    position: absolute;
    width: 140px;
    height: 4px;
    background-color: crimson;
    bottom: -10px;
    left: 44.5%;
    transform: translate(-50%);
    animation: animate 2s linear infinite;

}
@keyframes animate {
    0%{
        width: 100px;
    }
    50%{
        width: 200px;
    }
    100%{
          width: 100px;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.wrapper{
    margin: 10px auto;
    max-width: 1100px;
  }
  .wrapper nav{
    display: flex;
    justify-content: center;
  }
  .wrapper .items{
    display: flex;
    max-width: 720px;
    width: 100%;
    justify-content: space-between;
  }
  .items span{
    padding: 5px  19px;
    font-size: 10px;
    font-weight: 500;
    cursor: pointer;
    color: #007bff;
    border-radius: 50px;
    border: 2px solid #007bff;
    transition: all 0.3s ease;
  }
  .items span.active,
  .items span:hover{
    color: #fff;
    background: #007bff;
  }
  .gallery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-left: 20px;
  }
  .gallery .image{
    width: calc(100% / 4);
    padding: 7px;
  }
  .gallery .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  .gallery .image img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
  }
  .gallery .image:hover img{
    transform: scale(1.1);
  }
  .gallery .image.hide{
    display: none;
  }
  .gallery .image.show{
    animation: animate 0.4s ease;
  }
  @keyframes animate {
    0%{
      transform: scale(0.5);
    }
    100%{
      transform: scale(1);
    }
  }
  .preview-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    max-width: 700px;
    width: 100%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  }
  .preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
  }
  .preview-box .details{
    padding: 13px 15px 13px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .details .title{
    display: flex;
    font-size: 18px;
    font-weight: 400;
  }
  .details .title p{
    padding: 0;
    font-weight: 400;
    margin-left: 5px;
    font-size: 18px;
  }
  .details .icon{
    color: #007bff;
    font-style: 22px;
    cursor: pointer;
  }
  .preview-box .image-box{
    width: 100%;
    display: flex;
  }
  .image-box img{
    width: 100%;
    border-radius: 0 0 3px 3px;
  }
  .shadow{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.4);
  }
  .shadow.show{
    display: block;
  }
  @media (max-width: 1000px) {
    .gallery .image{
      width: calc(100% / 3);
    }
  }
  @media (max-width: 800px) {
    .gallery .image{
      width: calc(100% / 2);
    }
  }
  @media (max-width: 700px) {
    .wrapper nav .items{
      max-width: 600px;
    }
    nav .items span{
      padding: 7px 15px;
    }
  }
  @media (max-width: 600px) {
    .wrapper{
      margin: 30px auto;
    }
    .wrapper nav .items{
      flex-wrap: wrap;
      justify-content: center;
    }
    nav .items span{
      margin: 5px;
    }
    .gallery .image{
      width: 100%;
    }
  }
@media(max-width: 700px){
    .header3 h1{
        margin-top: 100px;
        font-size: 40px;
    }
    .gallery{
        padding-left: 0;
    }
}
